
*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

header nav{
    background-color: black;
}

div a img{
    height: 70px;
    width: 100px;
}


.centro {
background-image: url("../img/indice.jpg");
width: 100%;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
}

.hero {
    margin: 60px;
    padding-top: 10px;
}



carousel-item img {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
}



footer {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 32, 32);
}

footer img {
    padding-left: 20px;
}